@import url('https://fonts.googleapis.com/css?family=Orbitron|VT323');
body {
    background-image: url("../images/gaming-pattern/gaming-pattern.png")
}

h1 {
    font-family: 'VT323', monospace;
}

h3, div {
    font-family: 'Orbitron', sans-serif;
}

h1 {
    font-size: 1rem;
  }
  
  @include media-breakpoint-up(sm) {
    h1 {
      font-size: 1.2rem;
    }
  }
  
  @include media-breakpoint-up(md) {
    h1 {
      font-size: 1.4rem;
    }
  }
  
  @include media-breakpoint-up(lg) {
    h1 {
      font-size: 1.6rem;
    }
  }