@import url('https://fonts.googleapis.com/css?family=Orbitron|VT323');
body {
    background-image: url("../images/gaming-pattern/gaming-pattern.png")
}

h1 {
    font-family: 'VT323', monospace;
}

h3, div {
    font-family: 'Orbitron', sans-serif;
}